body {
    margin: 0;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

a, a:active, a:focus, a:hover, a:visited {
    color: inherit;
    text-decoration: underline;
}

.primary {
    background-color: #80d8ff;
    color: #000000;
}

.primary-light {
    background-color: #b5ffff;
    color: #000000;
}

.primary-dark {
    background-color: #49a7cc;
    color: #000000;
}