<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSHU.CarWash.EmailJob.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MSHU.CarWash.EmailJob.Properties.Settings>
            <setting name="Emails" serializeAs="String">
                <value>jozsef.vadkerti@microsoft.com; a-libill@microsoft.com;euromotorsportkft@gmail.com</value>
            </setting>
        </MSHU.CarWash.EmailJob.Properties.Settings>
    </applicationSettings>
</configuration>