################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
AppPackages
project.lock.json
.vs
BundleArtifacts
packages
PublishProfiles
*.vspscc
*.user
/src/MSHU.CarWash.Web/App_Data/MSHUCarWashContext-20151207160057.mdf
/src/MSHU.CarWash.Web/App_Data/MSHUCarWashContext-20151207160057_log.ldf
