################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MSHU.CarWash.UWP/bin
/src/MSHU.CarWash.UWP/obj
