################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
AppPackages
project.lock.json
.vs
BundleArtifacts
packages
PublishProfiles
*.vspscc
*.user