# CarWash CI
# Docs: https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - master
  - releases/*

pool:
  vmImage: 'vs2017-win2016'

variables:
  buildConfiguration: 'Release'

steps:
  - task: DotNetCoreCLI@2
    displayName: 'Restore NuGet packages'
    inputs:
      command: restore
      projects: '**/*.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'Build API ($(buildConfiguration))'
    inputs:
      command: build
      projects: '**/MSHU.CarWash.PWA.csproj'
      arguments: '--configuration $(buildConfiguration)'

  - script: npm install --prefix $(Build.SourcesDirectory)\src\MSHU.CarWash.PWA\ClientApp
    displayName: 'Restore npm packages for PWA'

  - script: npm run build --prefix $(Build.SourcesDirectory)\src\MSHU.CarWash.PWA\ClientApp
    displayName: 'Build PWA'

  - task: DotNetCoreCLI@2
    displayName: 'Run tests'
    inputs:
      command: test
      projects: '**/*Tests/*.csproj'
      arguments: '--configuration $(buildConfiguration)'

  - task: DotNetCoreCLI@2
    displayName: 'Publish build artifacts'
    inputs:
      command: publish
      publishWebProjects: True
      arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
      zipAfterPublish: True

  - task: PublishBuildArtifacts@1
    displayName: 'Upload build artifact to file container'
