# CarWash CI
# Docs: https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - master
  - releases/*

pool:
  vmImage: "vs2017-win2016"

variables:
  buildConfiguration: "Release"

steps:
  - task: DotNetCoreCLI@2
    displayName: "Restore NuGet packages"
    inputs:
      command: restore
      projects: "**/*.csproj"

  - task: DotNetCoreCLI@2
    displayName: "Build API ($(buildConfiguration))"
    inputs:
      command: build
      projects: "**/CarWash.PWA.csproj"
      arguments: "--configuration $(buildConfiguration)"

  - task: NodeTool@0
    displayName: "Install Node.js"
    inputs:
      versionSpec: "10.x"

  - script: |
      cd $(Build.SourcesDirectory)\CarWash.PWA\ClientApp
      npm install
    displayName: "Restore npm packages for PWA"

  - script: |
      cd $(Build.SourcesDirectory)\CarWash.PWA\ClientApp
      npm run build
    displayName: "Build PWA"

  - task: DotNetCoreCLI@2
    displayName: "Build Functions ($(buildConfiguration))"
    inputs:
      command: build
      projects: "**/CarWash.Functions.csproj"
      arguments: "--configuration $(buildConfiguration)"

  - task: DotNetCoreCLI@2
    displayName: "Run tests"
    inputs:
      command: test
      projects: "**/*.Tests/*.csproj"
      arguments: "--configuration $(buildConfiguration) --logger trx /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura"

  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage results'
    inputs:
      summaryFileLocation: $(Build.SourcesDirectory)\CarWash.PWA.Tests\coverage.cobertura.xml
      reportDirectory: $(Build.SourcesDirectory)\CarWash.PWA.Tests
      codecoverageTool: cobertura

  - task: DotNetCoreCLI@2
    displayName: "Publish build artifacts"
    inputs:
      command: publish
      publishWebProjects: True
      arguments: "--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)"
      zipAfterPublish: True

  - task: PublishBuildArtifacts@1
    displayName: "Upload build artifact to file container"
