<div ng-init="init()" ng-show="dataLoaded">
    <div class="row">
        <div class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="(error != '')">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>OPPS!&nbsp;</strong>{{error}}
        </div>
    </div>
    <div ng-show="(error == '')">
        <div class="row hidehover">
            <div>
                <a href="" class="glyphicon glyphicon-chevron-left fa-2x col-xs-2 white text-left" ng-click="getweek(weekViewModel.PreviousWeekOffset);"></a>
                <div class="col-xs-8 fa-2x white text-center">{{weekViewModel.DateInterval}}</div>
                <a href="" class="glyphicon glyphicon-chevron-right fa-2x col-xs-2 white text-right" ng-click="getweek(weekViewModel.NextWeekOffset);"></a>
            </div>
        </div>
        <hr />
        <div class="list-group">
            <a href="" class="list-group-item" data-ng-repeat="item in weekViewModel.Days" ng-click="showDay(item.Day, weekViewModel.Offset);">
                <span ng-class="{'today-emphasize': item.IsToday}">{{item.DayName}} - {{item.DayNumber}}</span>
                <span data-ng-repeat="r in item.ReservedSlotCount">
                    <i class="fa fa-square red pull-right"></i>
                </span>
                <span data-ng-repeat="a in item.AvailableSlotCount">
                    <i class="fa fa-square green pull-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

