<div ng-init="init()" ng-show="dataLoaded">
    <div class="row">
        <div class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="(error != '')">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>OPPS!&nbsp;</strong>{{error}}
        </div>
    </div>
    <div ng-show="(error == '')">
        <div class="row">
            <a href="" ng-click="showCalendar(dayDetailsViewModel.Offset);">
                <div class="glyphicon glyphicon-arrow-left fa-2x col-xs-2 white text-left"></div>
                <div class="fa-2x col-xs-8 white text-center">{{dayDetailsViewModel.MonthName}} {{dayDetailsViewModel.DayNumber}} - {{dayDetailsViewModel.DayName}}</div>
            </a>
        </div>
        <hr />
        <div id="collapseExample" ng-show="showReservation()">
            <div class="list-group">
                <div class="list-group-item">
                    <form name="newReservationForm">
                        <div class="form-group row hidden">
                            <label for="inputEmployeeId" class="col-sm-2 form-control-label">EmployeeId</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmployeeId" name="inputEmployeeId" placeholder="EmployeeId" ng-model="dayDetailsViewModel.NewReservation.EmployeeId" ng-readonly="true" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 form-control-label">NAME</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="NAME" ng-model="dayDetailsViewModel.NewReservation.EmployeeName" ng-readonly="!(dayDetailsViewModel.NewReservation.IsAdmin)" ng-keyup="autoCompleteEmployeeName()" required ng-maxlength="100">
                                <div ng-messages="newReservationForm.inputName.$error">
                                    <div ng-message="required" class="text-danger">THE NAME IS REQUIRED</div>
                                    <div ng-message="maxlength" class="text-danger">THE TEXT IS TOO LONG</div>
                                </div>
                                <div ng-messages="newReservationForm.inputEmployeeId.$error">
                                    <div ng-message="required" class="text-danger">THE PERSON ALREADY EXISTS</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputVehicle" class="col-sm-2 form-control-label">PLATE NUMBER</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputVehicle" name="inputVehicle" placeholder="ABC-123" ng-model="dayDetailsViewModel.NewReservation.VehiclePlateNumber" required ng-pattern="vehiclePlateNumberFormat">
                                <div ng-messages="newReservationForm.inputVehicle.$error">
                                    <div ng-message="required" class="text-danger">THE PLATE NUMBER IS REQUIRED</div>
                                    <div ng-message="pattern" class="text-danger">WRONG FORMAT</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2">SERVICE</label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gridRadios" id="gridRadios1" value="0" ng-model="dayDetailsViewModel.NewReservation.SelectedServiceId" ng-required="!dayDetailsViewModel.NewReservation.SelectedServiceId">
                                        EXTERIOR
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gridRadios" id="gridRadios2" value="1" ng-model="dayDetailsViewModel.NewReservation.SelectedServiceId" ng-required="!dayDetailsViewModel.NewReservation.SelectedServiceId">
                                        INTERIOR
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gridRadios" id="gridRadios3" value="2" ng-model="dayDetailsViewModel.NewReservation.SelectedServiceId" ng-required="!dayDetailsViewModel.NewReservation.SelectedServiceId">
                                        EXTERIOR + INTERIOR
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gridRadios" id="gridRadios4" value="3" ng-model="dayDetailsViewModel.NewReservation.SelectedServiceId" ng-required="!dayDetailsViewModel.NewReservation.SelectedServiceId" ng-disabled="kulsoBelsoKarpitDisabled()">
                                        EXTERIOR + INTERIOR + CARPET
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gridRadios" id="gridRadios4" value="4" ng-model="dayDetailsViewModel.NewReservation.SelectedServiceId" ng-required="!dayDetailsViewModel.NewReservation.SelectedServiceId" ng-disabled="steamDisabled()">
                                        EXTERIOR (STEAM)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gridRadios" id="gridRadios4" value="5" ng-model="dayDetailsViewModel.NewReservation.SelectedServiceId" ng-required="!dayDetailsViewModel.NewReservation.SelectedServiceId" ng-disabled="steamDisabled()">
                                        INTERIOR (STEAM)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gridRadios" id="gridRadios4" value="6" ng-model="dayDetailsViewModel.NewReservation.SelectedServiceId" ng-required="!dayDetailsViewModel.NewReservation.SelectedServiceId" ng-disabled="steamDisabled()">
                                        EXTERIOR + INTERIOR (STEAM)
                                    </label>
                                </div>
                                <div ng-messages="newReservationForm.gridRadios.$error">
                                    <div ng-message="required" class="text-danger">THE SERVICE IS REQUIRED</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputComment" class="col-sm-2 form-control-label">COMMENT</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputComment" name="inputComment" placeholder="COMMENT" ng-model="dayDetailsViewModel.NewReservation.Comment" ng-maxlength="250">
                                <div ng-messages="newReservationForm.inputComment.$error">
                                    <div ng-message="maxlength" class="text-danger">THE TEXT IS TOO LONG</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-click="saveReservation()" ng-disabled="newReservationForm.$invalid"><span class="glyphicon glyphicon-ok"></span>&nbsp;RESERVE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
        </div>
        <div class="list-group">
            <div class="list-group-item" data-ng-repeat="item in dayDetailsViewModel.Reservations">
                <button class="pull-right btn btn-primary btn-sm" ng-show="item.IsDeletable" ng-click="deleteReservation(item.ReservationId);"><span class="glyphicon glyphicon-trash"></span>&nbsp;REMOVE</button>
                <strong>{{item.VehiclePlateNumber}}&nbsp;&nbsp;{{item.EmployeeName}}</strong><br />
                {{item.SelectedServiceName}}<br />
                {{item.Comment}}&nbsp;
            </div>
        </div>
    </div>
</div>
