<div ng-init="init()">
    <div class="row">
        <h1 class="display-3">Hello!</h1>
        <p class="lead">
            This website is intended to help Microsoft employees working in the Hungarian subsidiary to reserve car washing services from different service providers.
            <br />To use this website you need a Microsoft Corporate account.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" ng-click="showCalendar(0);">RESERVE</a>
        </p>
    </div>
</div>
