<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>kulcsargaboroutlook.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mshucarwash.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mshucarwash.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mshucarwash</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mshucarwash</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MSHUCarWashConnectionString" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:gkulcsar.database.windows.net,1433;Initial Catalog=mshucarwash;User ID=gkulcsar@gkulcsar;Password=Corp123!" Name="Data Source=tcp:gkulcsar.database.windows.net,1433;Initial Catalog=mshucarwash;User Id=gkulcsar@gkulcsar;Password=Corp123!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MSHUCarWashContext-20151207160057.mdf;Initial Catalog=MSHUCarWashContext-20151207160057;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MSHUCarWashConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MSHUCarWashContext-20151207160057; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MSHUCarWashContext-20151207160057.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://kulcsargaboroutlook.onmicrosoft.com/WebApp-mshucarwash.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>b35284ca-10c8-48c4-a44d-99ae597e815f</ADClientAPPID>
    <ADClientPassword>l6+/56LRLxN6ZBuYxni++WDwDaO1+8351QSv0tcqJ6Q=</ADClientPassword>
    <ADReplyUrl>https://mshucarwash.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>96bf0f80-b605-488a-8dc6-64d9ed3abaae</ADTenantId>
    <ADPostLogoutRedirectUri />
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MSHUCarWashConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:gkulcsar.database.windows.net,1433;initial catalog=mshucarwash;user id=gkulcsar@gkulcsar;password=Corp123!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>